.product-container{
    border: 2px solid #ecf0f1;
    border-radius: 3px;
    padding: 3px;
    position: relative;
}

.product-container img{
    height: 300px;
    width: 300px;
    border-radius: 3px;
}

.product-name{
    margin-top: 8px;
    margin-bottom: 8px;
}

.product-info{
    margin: 40px 10px;
    
}
.btn-add-cart{
    padding: 8px 15px;
    width: 100%;
    border: 0;
    background-color: #15cfaacb;
    color: white;
    position: absolute;
    bottom: 0;
    
    
}

.btn-add-cart:hover{
    background-color: #1ceac1e4;
}

